<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries android:name="android.permission.QUERY_ALL_PACKAGES" /> <!-- 🚀 Allow system overlays for UI elements -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 🚀 Enable home screen replacement -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 🚀 Allow detecting foreground apps -->
    <uses-feature android:name="android.software.leanback" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:hardwareAccelerated="true"
        android:label="@string/kids_tv_launcher"
        android:icon="@mipmap/launcher"
        android:theme="@style/Theme.AndroidTV">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AndroidTV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>